In [66]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [67]:
df = pd.read_csv('data\\Admission_Predict.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [68]:
x = df.iloc[:,1:7] #identify x as all columns as independent variables except 'Serial No.' and 'Chance of Admit'
y = df['Chance of Admit '] #dependent viariable and what we want to predict

In [69]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=0)

#80% of data for training and 20% for testing

In [70]:
from sklearn.linear_model import LinearRegression

regressor=LinearRegression()
regressor.fit(x_train,y_train)

#training the algorithm using linear regression

LinearRegression()

In [71]:
regressor.coef_

array([ 0.00252475,  0.00194107,  0.00703089, -0.00425489,  0.02269074,
        0.12512472])

In [72]:
regressor.score(x_train, y_train)

0.812861141541632

In [73]:
y_test_pred= regressor.predict(x_test) 
y_test_pred

#predictions using the test data set

array([0.70881817, 0.70262748, 0.77240747, 0.62205053, 0.73582831,
       0.61124487, 0.71714321, 0.65292633, 0.86687357, 0.91801312,
       0.53947817, 0.88424849, 0.72307567, 0.45980778, 0.8514757 ,
       0.63064774, 0.61578864, 0.80827666, 0.59604868, 0.74556705,
       0.87296795, 0.86511492, 0.66517862, 0.45673087, 0.77573973,
       0.58844281, 0.47595716, 0.65215698, 0.88813941, 0.66137422,
       0.62672553, 0.73273382, 0.73159537, 0.55850536, 0.80081569,
       0.76459144, 0.64152744, 0.85705921, 0.63837959, 0.92827437,
       0.71894784, 0.68354549, 0.70124561, 0.80289266, 0.84102657,
       0.66934111, 0.57270212, 0.70323271, 0.61323152, 0.60834018,
       0.68507886, 0.79388635, 0.63782335, 0.87960669, 0.71108315,
       0.74452279, 0.70271517, 0.72841892, 0.77517926, 0.82387567,
       0.78802719, 0.47142621, 0.64771045, 0.52538952, 0.83833109,
       0.81356996, 0.72472789, 0.86324566, 0.78691899, 0.7452375 ,
       0.60832698, 0.82502567, 0.81917112, 0.5917218 , 0.9336009 ,
       0.61878381, 0.64415369, 0.65371814, 0.90675261, 0.51499871])

In [74]:
pred_chance_of_admit = pd.DataFrame({ 'Predicted': y_test_pred})

pred_chance_of_admit

#view predicted chance of admit

    Predicted
0    0.708818
1    0.702627
2    0.772407
3    0.622051
4    0.735828
..        ...
75   0.618784
76   0.644154
77   0.653718
78   0.906753
79   0.514999

[80 rows x 1 columns]

In [75]:
compare_chance_of_admit = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})
compare_chance_of_admit

#compare actual chance of admit to predicted chance of admit

     Actual  Predicted
132    0.71   0.708818
309    0.70   0.702627
341    0.79   0.772407
196    0.73   0.622051
246    0.72   0.735828
..      ...        ...
14     0.61   0.618784
363    0.69   0.644154
304    0.62   0.653718
361    0.93   0.906753
329    0.43   0.514999

[80 rows x 2 columns]

In [76]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test,y_test_pred)

#average squared difference between predicted values and the actual values

0.004901434759480487

In [77]:
from sklearn.metrics import r2_score

r2_score(y_test, y_test_pred)

#show the accuracy of linear regression model used

0.7302083954878598